@media ( max-width: 1199px )
  .container
    max-width: 960px
  .design
    padding-top: 35px
    &-wrapper
      padding: 145px 119px
  .button
    &__buy
      padding: 19px 29px
    &__read
      padding: 16px 22px
  .books
    &-info
      flex-direction: column
    &-left
      margin-right: 0
    &-wrapper
      width: 100%
      justify-content: space-evenly
    &-title
      text-align: center
  .best
    margin-top: 25px
    &__title
      text-align: center
    &-card
      width: 358px
    &-block
      align-items: center
      justify-content: space-between
      flex-direction: row
      flex-wrap: wrap
    &__line
      flex-basis: 100%
    &__book
      flex-basis: 100%
  .category
    &-card
      width: 220px
      height: 200px
      &__image
        width: 50px
        height: 50px
        margin-bottom: 20px
        margin-left: 90px
      &__title
        font-size: 18px
        line-height: 26px
      &__text
        font-size: 14px
        line-height: 18px
    &-slider
      &__button
        &--next
          margin-left: 900px
  .history
    &__image
      width: 985px
    &__author
      width: 305px
  .blog
    &-left
      &__image
        height: 280px
      &__title
        font-size: 20px
        line-height: 24px
      &__text
        font-size: 16px
        line-height: 32px
    &-card
      &--1
        width: 470px
      &--2
        width: 470px
      &--3
        width: 470px
      &__image
        width: 220px
      &__title
        font-size: 16px
        line-height: 24px
  .stock
    &-wrapper
      width: 990px
    &__title
      margin-top: 0
      font-size: 28px
  .footer
    &__ul
      width: 160px
    &__main
      &--text
        line-height: 20px
        margin-left: 0
      &--social
        width: 30px
        height: 30px
@media ( min-width: 992px )
  .nav__button
    &:hover
      background: darken(#fff , 10% )
  .sold-button__2
    &:hover
      background: darken(#fff , 10% )
  .sold-button__1
    &:hover
      background: darken(#1565D8 , 10% )
  .books-card__button
    &:hover
      background: darken(#183B56 , 10% )
  .books-cards__button
    &:hover
      background: darken(#183B56 , 10% )
@media ( max-width: 992px )
  .container
    max-width: 900px
  .nav
    &__button
      margin-left: 0
  .design
    &-title
      margin-left: 0
      font-size: 42px
      line-height: 60px
      &__additionally
        margin-left: 0
        font-size: 42px
        line-height: 60px
      &__author
        margin-left: 0
        font-size: 16px
        line-height: 24px
    &-text
      margin-left: 0
      font-size: 16px
      line-height: 32px
    &-wrapper
      &__block
        width: 393px
      &__image
        width: 230px
        margin: 103px 83px
  .sold
    &-button
      &__1
        padding: 18px 30px 18px 30px
        font-size: 14px
        line-height: 22px
      &__2
        font-size: 14px
        line-height: 22px
        padding: 16px 40px 16px 40px
  .books
    &-wrapper
      grid-gap: 22px
    &-title
      font-size: 30px
      line-height: 40px
    &-card
      width: 289px
      height: 220px
      &__title
        font-size: 18px
        line-height: 24px
        &--4
          width: 120px
      &__text
        font-size: 16px
        line-height: 22px
        margin-bottom: 20px
      &__price
        font-size: 16px
        line-height: 20px
        margin-bottom: 15px
      &__image
        width: 120px
        height: 200px
      &__button
        font-size: 12px
        padding: 7px 17px 7px 17px
      &__heart
        margin-left: 10px
        width: 18px
        height: 18px
    &-right
      width: 250px
    &-left
      width: 600px
    &-cards
      &__button
        font-size: 12px
        line-height: 22px
        padding: 7px 17px 7px 17px
    &-more
      height: 58px
  .category
    &-card
      &__image
        width: 50px
        height: 50px
        margin-bottom: 20px
        margin-left: 75px
      &__title
        font-size: 16px
        line-height: 26px
      &__text
        font-size: 14px
        line-height: 18px
    &-slider
      &__button
        &--next
          margin-left: 855px
  .unreleased
    &__title
      font-size: 30px
    &__books
      width: 150px
      height: 230px
    &-slider
      &__button
        width: 48px
        height: 48px
  .history
    &__title
      font-size: 30px
    &__text
      font-size: 14px
    &__miniplay
      width: 20px
      height: 30px
      margin-left: 130px
      margin-top: -130px
    &__play
      width: 80px
      height: 80px
      margin-left: 420px
    &__image
      width: 900px
      &--small
        width: 280px
        height: 185px
    &__author
      width: 280px
  .blog
    &__title
      font-size: 30px
    &__button
      width: 149px
      height: 39px
      font-size: 14px
    &-left
      &__image
        height: 280px
      &__title
        font-size: 20px
        line-height: 24px
      &__text
        font-size: 16px
        line-height: 32px
    &-card
      &--1
        width: 425px
      &--2
        width: 425px
      &--3
        width: 425px
      &__image
        width: 220px
      &__title
        font-size: 16px
        line-height: 24px
  .stock
    &-wrapper
      width: 900px
    &__title
      margin-top: 0
      font-size: 24px
      width: 265px
    &__search
      width: 395px
    &__button
      padding: 12px 23px 12px 23px
      font-size: 14px
  .footer
    &__ul
      width: 140px
@media ( max-width: 767px )
  .container
    max-width: 576px
    width: 87%
  .design
    padding-top: 36px
    padding-bottom: 56px
    &-grid
      flex-direction: column
    &-info
      margin-right: 0
      margin-bottom: 36px
    &-title
      font-size: 32px
      line-height: 40px
      text-align: center
      margin-bottom: 24px
      &__additionally
        font-size: 32px
        line-height: 40px
        text-align: center
      &__author
        font-size: 16px
        line-height: 24px
        text-align: center
        margin-bottom: 32px
    &-text
      font-size: 16px
      line-height: 23px
      text-align: center
    &-wrapper
      &__block
        width: 576px
      &__image
        width: 280px
        height: 410px
        margin: 85px 148px
  .sold
    margin-top: 17px
    display: flex
    flex-direction: column
    &-button
      &__1
        margin-bottom: 15px
      &__2
        margin-left: 0
  .books
    &-info
      display: flex
      flex-direction: column
    &-right
      width: 100%
      display: flex
      flex-direction: column
    &-left
      width: 100%
    &-title
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
      color: #183B56
      &__right
        margin-bottom: 36px
    &-wrap
      display: flex
      flex-wrap: wrap
      align-items: center
    &-more
      margin-top: 24px
      margin-bottom: 56px
    &-card
      width: 100%
      height: 100%
      display: flex
      flex-direction: column
      margin-top: 48px
      &--2
        display: none
      &--3
        display: none
      &--4
        display: none
      &--5
        display: none
      &--6
        display: none
      &__left
        margin-top: -45px
      &__title
        font-size: 20px
        line-height: 24px
        letter-spacing: 0.2px
        color: #183B56
        text-align: center
        &--1
          width: 100%
      &__text
        font-size: 14px
        line-height: 20px
        color: #183B56
        text-align: center
      &__price
        font-size: 16px
        line-height: 20px
        letter-spacing: 0.2px
        text-align: center
      &__image
        width: 160px
        height: 220px
        margin-left: 170px
        margin-right: 0
        object-fit: cover
      &__sold
        margin-left: 180px
      &__heart
        margin-left: 19.7px
      &__button
        padding: 7px 25px 7px 25px
    &-cards
      &__right
        width: 225px
        &--7
          margin-top: 0
          margin-bottom: 36px
          margin-right: 31px
        &--8
          margin-top: 0
          margin-bottom: 36px
        &--9
          margin: 0
          margin-right: 31px
        &--10
          margin: 0
    &-down
      margin-top: 40px
      width: 100%
    &-line
      margin-bottom: 20px
    &-best
      margin-left: 0
  .category
    &-card
      width: 140px
      height: 200px
      &__image
        width: 36px
        height: 36px
        margin-left: 45px
      &__title
        font-size: 16px
        line-height: 20px
        text-align: center
        letter-spacing: 0.2px
        margin-bottom: 10px
        &--2
          margin-bottom: 30px
      &__text
        font-size: 12px
        line-height: 20px
        text-align: center
    &-slider
      &__button
        width: 48px
        height: 48px
        &--next
          margin-left: 9px
          margin-top: 33px
        &--prev
          margin-left: 238px
          margin-top: 33px
  .history
    padding-top: 48px
    padding-bottom: 43px
    &-info
      display: flex
      flex-direction: column
      &__right
        width: 100%
        margin-left: 0
        margin-bottom: 35px
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
      margin-bottom: 24px
    &__text
      font-size: 18px
      line-height: 25px
      text-align: center
    &__image
      width: 100%
      height: 300px
      margin-bottom: 20px
      &--small
        width: 250px
        height: 172px
    &__author
      &--1
        display: none
    &__play
      margin-left: 225px
      margin-top: -234px
    &__miniplay
      margin-left: 120px
      margin-top: -125px
  .publishers
    &-up
      flex-wrap: wrap
      margin-bottom: 0
    &-down
      display: none
  .blog
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
    &-wrapper
      flex-direction: column
    &-card
      &--1
        width: 520px
      &--2
        width: 520px
      &--3
        width: 520px
    &-left
      margin-bottom: 28px
      &__image
        height: 315px
        margin-bottom: 20px
      &__title
        font-size: 16px
        line-height: 20px
        letter-spacing: 0.2px
        margin-left: 0
        margin-bottom: 10px
      &__text
        font-size: 12px
        line-height: 24px
        margin-left: 0
  .stock
    &-wrapper
      width: 100%
      display: flex
      flex-direction: column
    &__title
      width: 100px
    &__search
      margin-right: 0
  .footer
    &-top
      display: flex
      flex-wrap: wrap
    &__main
      order: 5
    &__main
      margin-right: 0
    &__list
      margin-left: 15px
      margin-right: 100px
      margin-bottom: 39px
    &-down
      display: none
