.blog
  padding-top: 100px
  padding-bottom: 75px
  &-top
    display: flex
    justify-content: space-between
    align-items: center
  &__title
    margin-top: 0
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    color: #183B56
    margin-bottom: 0
  &__button
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    color: #1565D8
    cursor: pointer
    outline: none
    border-radius: 22px
    width: 179px
    height: 44px
    text-align: center
    border: 2px solid #1565D8
    background-color: #fff
  &-wrapper
    margin-top: 40px
    display: flex
    align-items: start
  &-left
    margin-right: 30px
    &__image
      height: 330px
      margin-bottom: 30px
    &__title
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 32px
      letter-spacing: 0.2px
      color: #183B56
      margin-top: -1px
      margin-bottom: 16px
      margin-left: 13px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
      color: #5A7184
      margin-top: -3px
      margin-bottom: 0
      margin-left: 13px
  &-card
    display: flex
    align-items: center
    margin-bottom: 25px
    &--1
      width: 520px
    &--2
      width: 548px
    &--3
      width: 535px
    &__title
      font-family: Roboto
      font-style: normal
      font-weight: 500
      font-size: 22px
      line-height: 32px
      letter-spacing: 0.2px
      color: #183B56
      margin-top: 0
      margin-bottom: 18px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
      color: #5A7184
      margin-top: 0
      margin-bottom: 16px
    &__read
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 20px
      letter-spacing: 0.2px
      color: #1665D8
      margin: 0
    &__image
      width: 250px
      height: 150px
      margin-right: 36px
