.books
  padding-bottom: 80px
  &-info
    display: flex
  &__line
    border: 1px solid #ECEEF2
  &-title
    color: $dark
    font-family: 'Roboto Condensed', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 32px
    line-height: 40px
    margin-top: 0
    margin-bottom: 30px
  &-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 750px
  &-more
    width: 100%
    height: 72px
    border-radius: 8px
    background-color: rgba(21, 101, 216, 0.1 )
    cursor: pointer
    outline: none
    border: none
  &-rec
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 20px
    text-align: center
    color: rgb(21, 101, 216 )
  &__line
    border: 1px solid #ECEEF2
    margin-bottom: 23px
    margin-top: -7px
  &__best
    text-transform: uppercase
    font-family: 'Roboto Condensed', sans-serif
    color: $blue
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 20px
    text-align: center
  &-left
    margin-right: 32px
.card
  border: 1px solid #ECEEF2
  border-radius: 8px
  display: flex
  width: 358px
  min-height: 260px
  margin-bottom: 27px
  &__image
    width: 160px
    height: 238px
    border-radius: 8px
    overflow: hidden
  &__img
    width: 100%
    height: 100%
    object-fit: cover
    object-position: 0 0
  &__title
    display: inline-block
    font-family: 'Roboto', sans-serif
    color: $dark
    font-style: normal
    font-weight: 500
    font-size: 22px
    line-height: 32px
    margin-bottom: 16px
  &__subtitle
    display: inline-block
    font-family: 'Open Sans', sans-serif
    color: $dark
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 22px
    margin-bottom: 24px
  &__price
    display: inline-block
    font-family: 'Roboto Condensed', sans-serif
    color: $blue
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 24px
    margin-bottom: 24px
  &-left
    padding-top: 11px
    padding-left: 9px
    padding-bottom: 11px
  &-right
    display: flex
    flex-direction: column
    padding: 24px 0 26px 21px
  &__bought
    display: flex
    align-items: center
  &__button
    background-color: $dark
    border-radius: 200px
    border: none
    padding: 7px 20px
    font-family: 'Open Sans', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    color: $light
    margin-right: 20px
  &__like
    width: 21px
    height: 21px
.best
  &__title
    color: $dark
    font-family: 'Roboto Condensed', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 32px
    line-height: 40px
    margin-top: 0
    margin-bottom: 30px
  &__name
    display: inline-block
    font-family: 'Roboto', sans-serif
    color: $dark
    font-style: normal
    font-weight: 500
    font-size: 22px
    line-height: 32px
    margin-bottom: 15px
  &__price
    display: inline-block
    font-family: 'Roboto Condensed', sans-serif
    color: $blue
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 24px
    margin-bottom: 22px
  &__button
    background-color: $dark
    border-radius: 200px
    border: none
    padding: 7px 20px
    font-family: 'Open Sans', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    color: $light
    width: 101px
  &__img
    width: 120px
    height: 177px
    border-radius: 6px
  &-card
    display: flex
    margin-bottom: 32px
  &-block
    background-color: rgba(179,186,197, 0.1)
    border-radius: 8px
    padding: 24px 24px 26px 22px
    display: flex
    flex-direction: column
  &__right
    padding-left: 25px
    padding-bottom: 8px
    padding-top: 10px
    display: flex
    flex-direction: column
  &__line
    border: 1px solid #ECEEF2
    margin-bottom: 23px
    margin-top: -7px
  &__book
    text-transform: uppercase
    font-family: 'Roboto Condensed', sans-serif
    color: $blue
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 20px
    text-align: center
