.books
  padding-bottom: 80px
  &-info
    display: flex
    justify-content: space-between
    align-items: center
  &-title
    margin-bottom: 30px
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 32px
    line-height: 40px
    color: #183B56
