.category
  padding-bottom: 100px
  &-line
    border: 1px solid #ECEEF2
    margin-top: 0
    margin-bottom: 60px
  &-card
    border-radius: 8px
    border: 1px solid #ECEEF2
    width: 265px
    height: 240px
    &__image
      width: 64px
      height: 64px
      margin-top: 40px
      margin-bottom: 40px
      margin-left: 100px
    &__title
      font-family: Roboto
      font-style: normal
      font-weight: 500
      font-size: 22px
      line-height: 32px
      color: #183B56
      text-align: center
      letter-spacing: 0.2px
      margin-top: 0
      margin-bottom: 12px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 22px
      color: #5A7184
      text-align: center
      margin: 0
  &-wrap
    position: absolute
    display: flex
    z-index: 1
  &-slider
    position: relative
    &__item
      display: flex
      justify-content: space-betwee
    &__button
      width: 56px
      height: 56px
      border: none
      border-radius: 50%
      cursor: pointer
      background-repeat: no-repeat
      background-position: center
      background-color: #fff
      &--next
        background-image: url(../img/button-next.png)
        margin-top: -142px
        margin-left: 1085px
      &--prev
        background-image: url(../img/button-prev.png)
        margin-top: -142px
        margin-left: -22px
.swiper
  left: 5px
  &-button
    &-disabled
      display: none
      &:hover
        filter: none
