.design
  padding-top: 69px
  padding-bottom: 100px
  &-grid
    display: flex
    justify-content: space-between
    align-items: center
  &-info
    width: 585px
    height: 478px
  &-title
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
    color: #FAAD13
    margin-top: -5px
    margin-left: 5px
    &__additionally
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      color: #183B56
      margin-top: -32px
      margin-bottom: 28px
      width: 440px
      margin-left: 5px
    &__author
      color: #183B56
      font-family: Roboto
      font-style: normal
      font-weight: 500
      font-size: 20px
      line-height: 24px
      margin-top: 0
      margin-bottom: 36px
      margin-left: 5px
  &-text
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 32px
    color: #5A7184
    margin-left: 5px
    max-width: 585px
  &-wrapper
    position: relative
    &__image
      position: absolute
      width: 250px
      height: 374px
      display: block
      margin: 103px 119px
      background: rgba(0, 0, 0, 0.0001)
      box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.08)
    &__block
      width: 488px
      height: 580px
      background-color: #B3BAC5
      opacity: 0.1
.sold
  margin-top: 56px
  &-button
    &__1
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 22px
      text-align: center
      text-transform: uppercase
      color: #fff
      cursor: pointer
      outline: none
      border-radius: 8px
      padding: 18px 38px 18px 38px
      border: none
      background-color: #1565D8
    &__2
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 25px
      text-align: center
      text-transform: uppercase
      color: #1565D8
      cursor: pointer
      outline: none
      border-radius: 8px
      padding: 15px 48px 15px 48px
      border: 2px solid #1565D8
      background-color: #fff
      margin-left: 26px
