.footer
  padding-top: 108px
  padding-bottom: 80px
  &-top
    display: flex
    justify-content: space-between
    margin-bottom: 96px
  &__main
    width: 263px
    &--image
      width: 90px
      height: 28px
      margin-bottom: 28px
    &--text
      font-style: normal
      font-weight: normal
      font-size: 15px
      line-height: 28px
      color: #5A7184
      margin-top: 0
      margin-bottom: 32px
    &--social
      width: 40px
      height: 40px
  &__list
    &--title
      margin-top: 0
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 25px
      color: #183B56
      margin-bottom: 7px
  &__ul
    list-style: none
    padding: 0
    margin: 0
  &__link
    text-decoration: none
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 22px
    color: #183B56
  &__item
    margin-top: 24px
  &-down
    text-align: center
    &__text
      margin-top: 24px
      margin-bottom: 0
