.footer
  padding-top: 108px
  &-top
    display: flex
    justify-content: space-between
  &__main
    width: 263px
    &--image
      width: 90px
      height: 28px
      margin-bottom: 28px
    &--text
      font-style: normal
      font-weight: normal
      font-size: 15px
      line-height: 28px
      color: #5A7184
      margin-top: 0
      margin-bottom: 32px
    &--social
      width: 40px
      height: 40px
  &__list
    &--title
      margin: 0
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 25px
      color: #183B56
