.stock
  &-wrapper
    background: #1565D8
    border-radius: 12px
    width: 1140px
    height: 236px
    display: flex
    align-items: center
    justify-content: space-between
  &__title
    width: 393px
    height: 96px
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 48px
    letter-spacing: 0.2px
    color: #FFFFFF
    margin-left: 60px
    margin-top: 0
    margin-bottom: 0
