.stock
  padding-top: 20px
  padding-bottom: 20px
  &-container
    max-width: 1140px
    margin: auto
    overflow: hidden
  &-wrapper
    background-color: $blue
    border-radius: 12px
    padding-top: 29px
    padding-bottom: 53px
    padding-left: 60px
    padding-right: 67px
    display: flex
    justify-content: space-between
    align-items: center
    width: 1140px
    position: relative
    &::before
      content: ''
      position: absolute
      // background: url(../img/Icon.svg)
      background-color: transparent
      background-repeat: no-repeat
      border-radius: 50%
      border: 200px solid rgba(245,229,229,0.4)
      opacity: 0.2
      top: -65px
      left: 491px
      width: 786px
      height: 786px
    &::after
      content: ''
      position: absolute
      // background: url(../img/Icon.svg)
      background-color: transparent
      background-repeat: no-repeat
      border-radius: 50%
      border: 211px solid rgba(245,229,229,0.4)
      opacity: 0.2
      top: -1005px
      left: -572px
      width: 786px
      height: 786px
  &__name
    width: 393px
  &__title
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 48px
    letter-spacing: 0.2px
    color: #FFFFFF
  &__form
    position: relative
    width: 443px
    height: 70px
    margin-top: 36px
  &__button
    position: absolute
    padding: 13px 26px
    font-family: 'Open Sans', sans-serif
    color: $light
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    background-color: #FAAD13
    border-radius: 4px
    top: 4px
    right: 3px
    border: none
    cursor: pointer
  &__input
    position: relative
    width: 100%
    height: 56px
    border: none
    padding-left: 48px
    padding-right: 165px
    font-family: 'Open Sans', sans-serif
    color: #959EAD
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    outline: none
    border-radius: 8px
    margin-right: 50px
  &__img
    position: absolute
    top: 23px
    left: 20px
