.unreleased
  background-color: #183B56
  padding-bottom: 88px
  &-wrapper
    display: flex
    align-items: center
    justify-content: space-between
  &__title
    padding-top: 62px
    margin-bottom: 60px
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 48px
    letter-spacing: 0.2px
    color: #FFFFFF
  &__books
    width: 204px
    height: 298px
    border-radius: 8px
  &-slider
    &__button
      background-repeat: no-repeat
      background-position: center
      background-size: 100px
      background-color: transparent
      outline: none
      border: none
      cursor: pointer
      width: 54px
      height: 56px
      right: 0
      top: 0
      &--next
        margin-left: 24px
